<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      >
    <ui:composition template="medico.xhtml">
        <ui:define name="content">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
                <h2 class="sub-header">Actividades Calificadas</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID Profesional</th>
                                <th>Resultado</th>
                                <th>Descripcion</th>                             
                            </tr>
                        </thead>
                        <tbody>
                            <ui:repeat var="actividad" value="#{controlActividades.listaActividades}">
                                <tr>
                                    <td><h:outputText value="#{actividad.medico.DNI}"/></td>
                                    <td><h:outputText value="#{actividad.fechayhora}"/></td> 
                                    <td><h:outputText value="#{actividad.descripcion}"/></td>                                                         
                                </tr>
                            
                            </ui:repeat>
                            <tr>
                                <td>X123456X</td>
                                <td>Cirujia</td>
                                <td>Positivo</td>
                                <td>Dolores de cabeza tras la operación</td>
                            </tr>
                            <tr>
                                <td>Y987456Y</td>
                                <td>Análisis</td>
                                <td>Negativo</td>
                                <td> Sin comentarios</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </ui:define>
    </ui:composition>
</html>