<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="index.xhtml">
        <ui:define name="content">
            <h1>Sus alertas médicas:</h1>
            <ul class="list-group" style="margin: 20px">
                <li class="list-group-item">
                    <!--Tipo de alerta-->
                    <b>Cita dermatologo</b><br/>
                    <date>24 de abril</date>
                    <!--comentario-->
                    <p>Picaduras de mosquito</p>
                    <!--Opcional-->
                    <h:link>Más información</h:link>
                </li>
                <li class="list-group-item">
                    <!--Tipo de alerta-->
                    <b>Cita pediatra</b><br/>
                    <date>24 de abril</date>
                    <!--comentario-->
                    <p>Diarrea</p>
                    <h:link>Más información</h:link>
                </li>
            </ul>
        </ui:define>
    </ui:composition>
</html>

