<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition template="index.xhtml">
        <ui:define name="content">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
                <h2 class="sub-header">Calendario</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Fecha del evento</th>
                                <th>Descripcion del evento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ui:repeat var="evento" value="#{controlEventos.eventos}">
                                <tr>
                                    <td><h:outputText value="#{evento.fechayhora}"/></td>
                                    <td><h:outputText value="#{evento.descripcion}"/></td>
                                </tr>
                            </ui:repeat>
                            <!--
                            <tr>
                                <th>2014-06-06 19:50:10</th>
                                <th>Evento de prueba</th>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>

