<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="index.xhtml">
        <ui:define name="content">
            <a href="https://ws003.juntadeandalucia.es/pls/intersas/servicios.carpeta_salud.tramite_enlinea_cs">Acceso a Click Salud</a>
            
        </ui:define>
        </ui:composition>
</html>

