<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="index.xhtml">
        <ui:define name="content">
            <p>
                <center><h2>Este código le permite acceder a la página principal de HospitalC</h2></center>
            </p>
            <center><h:graphicImage style="border: solid" url="/img/qr_img.png" width="300" height="300"/></center>
        </ui:define>
    </ui:composition>
</html>