<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="index.xhtml">
        <ui:define name="content">
                <div class="panel" style="margin-top:20px">
                    <div class="row">
                        <div class="col-sm2 col-md-2" style="margin:20px ">
                           <img src="http://media.telemundo52.com/images/425*530/02-justin-bieber-perfil-policial.JPG" alt="" class="img-rounded img-responsive"></img>
                        </div>
                        <div style="margin: 20px">
                            <p><b>Justin, Bieber</b></p> 
                            <small><cite title="Source Title">Pijocity, Málaga</cite></small>
                            <br/><br/>
                            <p> <i class="glyphicon glyphicon-envelope"></i> rokero@gmail.com
                                <br/> <i class="glyphicon glyphicon-map-marker"></i> Hospital Carlos haya
                            <br /> <i class="glyphicon glyphicon-gift"></i> 20 Junio, 1990</p>
                            <br></br>
                            <h:link>Historial clínico</h:link>
                            <br/><h:link>Rasgos clínicos</h:link>
                           
                        </div>
                    </div>
                </div>
            </ui:define>
    </ui:composition>
</html>
