<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="index.xhtml">
        <ui:define name="content">
            <h1>Datos Personales:</h1>
            <br></br>
            <c:if test="#{!empty controlSession.usuario}">
                <p>#{controlSession.name} #{controlSession.apellido1}</p>
                <p>#{controlSession.DNI}</p>
                <p>#{controlSession.correoE}</p>
                <p>#{controlSession.movil}</p>
                <p>#{controlSession.ciudad}</p>
                <c:if test="#{controlSession.typeOfUser()=='paciente'}">
                    <!--Historial como tal no implementado-->
                    <h:link outcome="dpersonales.xhtml">Historial clínico</h:link>
                </c:if>
            </c:if>  
            <h:link outcome="ModDatosPersonales.xhtml">
                <p>Modificacion de datos personales</p>
            </h:link>
        </ui:define>
    </ui:composition>
</html>
