<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="PlantillaPersonal.xhtml">
        <ui:define name="content">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
                <h2 class="sub-header">Pacientes Especiales</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Enfermedad especial</th>
                                <th>Ultima localización</th>   
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Augustus</td>
                                <td>Walter</td>
                                <td>Osteosarcoma</td>
                                <td>Málaga</td>
                            </tr>
                            <tr>
                                <td>Hazel</td>
                                <td>Grace</td>
                                <td>Cancer de tiroides</td>
                                <td>Málaga</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ui:define>       
    </ui:composition>   
</html>