<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="index.xhtml">

        <ui:define name="content">
            <!--
            <h:body>
                <h:outputScript library="js" name="GMaps.js"/>
                <div id="map"></div>
             <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d26081603.294420466!2d-95.677068!3d37.06250000000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1398498810411" width="600" height="450" frameborder="0" style="border:0"></iframe>

            </h:body>
            -->


            <div class="row">
                <div class="col-md-8">
                    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3198.1656792268477!2d-4.477851000000003!3d36.718582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8ab8f0732b872dc5!2sHospital+Universitario+Virgen+de+la+Victoria!5e0!3m2!1ses!2ses!4v1398849595182"></iframe>
                </div>

                <div class="col-md-4">

                    <address>
                        <strong>Hospital universitario</strong><br/>
                        Campus Teatino s/n<br/>
                        Málaga<br/>
                        Málaga<br/>
                        Spain<br/>
                        29010<br/>
                        <abbr title="Telefono">T:</abbr> 952 00 11 22
                    </address>
                </div>
            </div>

        </ui:define>
    </ui:composition>
</html>
