<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>HospitalC</title>
        <link href="css/bootstrap.min.css" rel="stylesheet"/>
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
        <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'/>
        <link href="css/style.css" rel="stylesheet"/>
    </h:head>
    
    <h:body>
        <header class="navbar">
            <div class="container-fluid expanded-panel">
		<div class="row">
			<div id="logo" class="col-xs-12 col-sm-2">
				<a href="index.xhtml">HospitalC</a>
			</div>
			<div id="top-panel" class="col-xs-12 col-sm-10">
				<div class="row">
					<div class="col-xs-8 col-sm-4">
						
					</div>
					<div class="col-xs-4 col-sm-8 top-panel-right">
						<ul class="nav navbar-nav pull-right panel-menu">
							<li class="hidden-xs">
								<a href="index.html" class="modal-link">
									<i class="fa fa-bell"></i>
                                                                        <ui:insert name="alertas">
									<span class="badge">8</span>
                                                                        </ui:insert>
								</a>
							</li>
							<li class="hidden-xs">
								<a class="ajax-link" href="ajax/calendar.html">
									<i class="fa fa-calendar"></i>
									<ui:insert name="calendario">
									<span class="badge">7</span>
                                                                        </ui:insert>
								</a>
							</li>
							<li class="hidden-xs">
								<a href="ajax/page_messages.html" class="ajax-link">
									<i class="fa fa-envelope"></i>
									<ui:insert name="mensajes">
									<span class="badge">6</span>
                                                                        </ui:insert>
								</a>
							</li>
							<li>
                                                            <!--USABLE-->
                                                            <ui:insert name="profile">
                                                                <h:link outcome="faces/login.xhtml">
									<div class="avatar">
										<img src="img/avatar.jpg" class="img-rounded" alt="avatar" />
									</div>
									<i class="fa fa-sign-out pull-right"></i>
									<div class="user-mini pull-right">
										<span>Pepe López</span>
									</div>
                                                                </h:link>
                                                            </ui:insert>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
        </header>
        <div id="main" class="container-fluid">
	<div class="row">
		<div id="sidebar-left" class="col-xs-2 col-sm-2">
			<ul class="nav main-menu">
                            <ui:insert name="menu-up">
                                <li>
					<a href="google.es">
						<i class="fa fa-ban"></i>
						<span class="hidden-xs">DEFECTO</span>
					</a>
				</li>
                            </ui:insert>
				<li>
					<a href="login">
						<i class="fa fa-cog"></i>
						<span class="hidden-xs">Perfil</span>
					</a>
				</li>
                                <li>
					<a href="faces/HospitalCercano.xhtml" name="Hospital">
						<i class="fa fa-map-marker"></i>
						<span class="hidden-xs">Su hospital</span>
					</a>
				</li>
                                <li>
					<a href="profesionales">
						<i class="fa fa-bar-chart-o"></i>
						<span class="hidden-xs">Profesionales</span>
					</a>
				</li>
                                <li>
					<a href="clicksalud">
						<i class="fa fa-bar-chart-o"></i>
						<span class="hidden-xs">Clicksalud</span>
					</a>
				</li>
                                <li>
					<a href="sugerencias.xhtml">
						<i class="fa fa-check"></i>
						<span class="hidden-xs">Quejas y sugerencias</span>
					</a>
				</li>
                                <li>
					<a href="codigoQR.xhtml">
						<i class="fa fa-qrcode"></i>
						<span class="hidden-xs">Código QR</span>
					</a>
				</li>
                                
                            <ui:insert name="menu-down">
                                <li>
					<a href="google.es">
						<i class="fa fa-ban"></i>
						<span class="hidden-xs">DEFECTO2</span>
					</a>
				</li>
                            </ui:insert>
			</ul>
		</div>
		<!--Start Content-->
		<div id="content" class="col-xs-12 col-sm-10">
                    <ui:insert name="content">
                        Default Content
                    </ui:insert>
		</div>
		<!--End Content-->
	</div>
</div>
        
    </h:body>
</html>

