<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>HospitalC</title>
        <link href="css/bootstrap.min.css" rel="stylesheet"/>
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
        <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'/>
        <link href="css/style.css" rel="stylesheet"/>
    </h:head>

    <h:body>
        <header class="navbar">
            <div class="container-fluid expanded-panel">
                <div class="row">
                    <div id="logo" class="col-xs-12 col-sm-2">
                        <h:link outcome="#{controlSession.home()}">HospitalC</h:link>
                    </div>
                    <div id="top-panel" class="col-xs-12 col-sm-10">
                        <div class="row">
                            <div class="col-xs-8 col-sm-3">

                            </div>
                            <div class="col-xs-4 col-sm-9 top-panel-right">
                                <ul class="nav navbar-nav pull-right panel-menu">
                                    <li class="hidden-xs">
                                        <h:link outcome="alertas.xhtml">
                                            <i class="fa fa-bell"></i>
                                            <ui:insert name="alertas">

                                            </ui:insert>
                                        </h:link>
                                    </li>
                                    <li class="hidden-xs">
                                        <h:link outcome="calendario.xhtml">
                                            <i class="fa fa-calendar"></i>
                                            <ui:insert name="calendario">

                                            </ui:insert>
                                        </h:link>
                                    </li>
                                    <li class="hidden-xs">
                                        <h:link outcome="mensajes.xhtml">
                                            <i class="fa fa-envelope"></i>
                                            <ui:insert name="mensajes">
                                                <!--<span class="badge">7</span>-->
                                            </ui:insert>
                                        </h:link>
                                    </li>

                                    <!--USABLE-->
                                    <ui:insert name="profile">
                                        <c:if test="#{!empty controlSession.usuario}">
                                            <li>
                                                <h:link outcome="dpersonales.xhtml">
                                                    <div class="avatar">
                                                        <img src="img/avatar.jpg" class="img-rounded" alt="avatar" />
                                                    </div>
                                                    <div class="user-mini pull-right">
                                                        #{controlSession.name}
                                                    </div>
                                                </h:link> 
                                            </li>
                                            <li class="hidden-xs">
                                                <h:link outcome="logout.xhtml">
                                                    <i class="fa fa-sign-out"></i>
                                                </h:link>
                                            </li>
                                        </c:if>
                                    </ui:insert>                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="main" class="container-fluid">
            <div class="row">
                <div id="sidebar-left" class="col-xs-2 col-sm-2">
                    <ul class="nav main-menu">
                        <ui:insert name="menu-up">
                            <c:if test="#{(controlSession.typeOfUser() == 'ats') || (controlSession.typeOfUser() == 'medico')}">
                                <li>
                                    <a href="inventario.xhtml">
                                        <i class="fa fa-list-alt"></i>  
                                        <span class="hidden-xs">Gestion inventario</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="especiales.xhtml">
                                        <i class="fa fa-stethoscope"></i> 
                                        <span class="hidden-xs">Loc. Pacientes</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="asistencia.xhtml">
                                        <i class="fa fa-user-md"></i>
                                        <span class="hidden-xs">Control asistencia</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="camas.xhtml">
                                        <i class="fa fa-hospital-o"></i>
                                        <span class="hidden-xs">Gestion camas</span>
                                    </a>   
                                </li>
                            </c:if>
                            <c:if test="#{controlSession.typeOfUser() == 'medico'}">
                                <li>
                                    <h:link outcome="actCalificada.xhtml">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <span class="hidden-xs">Actividad Calificada</span>
                                    </h:link>
                                </li>
                            </c:if>
                        </ui:insert>
                        <li>
                            <c:choose>
                                <c:when test="#{empty controlSession.usuario}">
                                    <h:link outcome="#{controlSession.home()}">
                                        <i class="fa fa-cog"></i>
                                        <span class="hidden-xs">Perfil</span>
                                    </h:link>
                                </c:when>
                                <c:otherwise>
                                    <h:link outcome="dpersonales.xhtml">
                                        <i class="fa fa-cog"></i>
                                        <span class="hidden-xs">Perfil</span>
                                    </h:link>
                                </c:otherwise>
                            </c:choose>
                        </li>
                        <li>
                            <h:link outcome="HospitalCercano.xhtml">
                                <i class="fa fa-hospital-o"></i>
                                <span class="hidden-xs">Su hospital</span>
                            </h:link>
                        </li>
                        <li>
                            <h:link outcome="profesionales.xhtml">

                                <i class="fa fa-stethoscope"></i>
                                <span class="hidden-xs">Profesionales</span>
                            </h:link>
                        </li>
                        <li>
                            <h:link outcome="clicksalud.xhtml">
                                <i class="fa fa-medkit"></i>
                                <span class="hidden-xs">Clicksalud</span>
                            </h:link>
                        </li>
                        <li>
                            <h:link outcome="sugerencias.xhtml">
                                <i class="fa fa-pencil-square-o"></i>
                                <span class="hidden-xs">Quejas y sugerencias</span>
                            </h:link>
                        </li>
                        <!-- TODO: Deberia sacarse fuera de la plantilla -->
                        <li>
                            <h:link outcome="codigoQR.xhtml">
                                <i class="fa fa-qrcode"></i>
                                <span class="hidden-xs">Código QR</span>
                            </h:link>
                        </li>

                        <ui:insert name="menu-down">
                        </ui:insert>
                    </ul>
                </div>
                <!--Start Content-->
                <div id="content" class="col-xs-12 col-sm-10">
                    <div class="container" style="margin-top: 80px">
                        <ui:insert name="content">
                        </ui:insert>
                    </div>
                </div>
                <!--End Content-->
            </div>
        </div>      
    </h:body>
</html>

