<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
        <ui:composition template="index.xhtml">
            <ui:define name="content">
                <div class="list-group">
                    <li class="list-group-item">                    
                        <div class="row">
                            <div class="col-sm2 col-md-2" style="margin:20px ">
                                <img class="img-responsive img-rounded" src="http://i2.esmas.com/2009/10/19/80028/dr-house-300x350.jpg"></img>
                            </div>
                            <div style="margin: 20px">
                                <p><b>Gregory House</b></p> 
                                <small><cite title="Source Title">EEUU</cite></small>
                                <br/><br/>
                                <p> <i class="glyphicon glyphicon-envelope"></i> drogata@gmail.com
                                <br/> <i class="glyphicon glyphicon-map-marker"></i> Hospital Carlos Haya
                                <br/> Diagnosticador
                                <br /> <i class="glyphicon glyphicon-gift"></i> 20 Junio, Año desconocido</p>
                                <br></br>
                                <h:link>Historial</h:link>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm2 col-md-2" style="margin:20px ">
                                <img class="img-responsive img-rounded" src="http://4.bp.blogspot.com/-HLnd3xnKM-c/T7uM1UKRZyI/AAAAAAAAA6w/cX2GlH6v2PE/s1600/House+series+Finale+Everybody+Dies+Lisa+Cuddy+Lisa+Edelstein.jpg"></img>
                            </div>
                            <div style="margin: 20px">
                                <p><b>Lisa Cuddy</b></p> 
                                <small><cite title="Source Title">EEUU</cite></small>
                                <br/><br/>
                                <p> <i class="glyphicon glyphicon-envelope"></i> buena@gmail.com
                                <br/> <i class="glyphicon glyphicon-map-marker"></i> Hospital Carlos Haya
                                <br/> The boss
                                <br /> <i class="glyphicon glyphicon-gift"></i> 20 Junio, Año desconocido</p>
                                <br></br>
                                <h:link>Historial</h:link>
                            </div>
                        </div>
                    </li>
                </div>
            </ui:define>
        </ui:composition>
</html>
