<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <ui:composition template="PlantillaPersonal.xhtml">
        <ui:define name="content">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
                <h2 class="sub-header">Inventario</h2>
                <div class="table-responsive">
                    <h:form>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Nombre del material</th>
                                    <th>Tipo</th>
                                    <th>Cantidad</th>   
                                </tr>
                            </thead>
                            <tbody>
                                <ui:repeat var="ms" value="#{controlinventario.getListaMaterialSanitario()}">
                                    <tr>
                                        <td><h:outputText value="#{ms.id}"/></td>
                                        <td><h:outputText value="#{ms.nombre}"/></td>
                                        <td><h:outputText value="#{ms.tipo}"/></td>
                                        <td><h:outputText value="#{ms.cantidad}"/></td>
                                    </tr>
                                </ui:repeat>
                                <div class="hide">
                                    <tr>
                                        <td><h:inputText value="#{controlinventario.codigo}" pt:placeholder="Codigo"/></td>
                                        <td><h:inputText value="#{controlinventario.nombre}" pt:placeholder="Nombre"/></td>
                                        <td><h:inputText value="#{controlinventario.tipo}" pt:placeholder="Tipo"/></td>
                                        <td><h:inputText value="#{controlinventario.cantidad}" pt:placeholder="Cantidad"/></td>
                                    </tr>
                                </div>

                            </tbody>
                        </table>
                        <h:commandButton type="submit" action="#{controlinventario.addMaterialSanitario()}" class="btn btn-sm btn-default" value="Añadir"></h:commandButton>
                        <h:commandButton type="submit" action="#{controlinventario.rmMaterialSanitario()}" class="btn btn-sm btn-default" value="Quitar"></h:commandButton>
                    </h:form>
                </div>
            </div>
        </ui:define>       
    </ui:composition>   
</html>