<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <ui:composition template="PlantillaPersonal.xhtml">
        <ui:define name="content">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
                <h2 class="sub-header">Pacientes</h2>
                <div class="table-responsive">
                    <h:form>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>DNI</th>  
                                </tr>
                            </thead>
                            <tbody>
                                <ui:repeat var="paciente" value="#{controlPacientes.listaPacientes}">
                                    <tr>
                                        <td><h:outputText value="#{paciente.nombre}"/></td>
                                        <td><h:outputText value="#{paciente.apellido1}"/></td>
                                        <td><h:outputText value="#{paciente.DNI}"/></td>
                                    </tr>
                                </ui:repeat>
                                <div class="hide">
                                    <tr>
                                        <td><h:inputText value="#{controlPacientes.nombre}" pt:placeholder="Nombre"/></td>
                                        <td><h:inputText value="#{controlPacientes.apellido1}" pt:placeholder="Apellido1"/></td>
                                        <td><h:inputText value="#{controlPacientes.DNI}" pt:placeholder="DNI"/></td>
                                    </tr>
                                </div>
                                
                            </tbody>
                        </table>
                        <h:commandButton type="submit" action="#{controlPacientes.addPaciente()}" class="btn btn-sm btn-default" value="Añadir"></h:commandButton>
                    </h:form>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>