<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <ui:composition template="index.xhtml">
        <ui:define name="content">


            <div class="col-md-4 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Ingresar</strong></h3></div>
                    <div class="panel-body">
                        <!-- BORRABLE -->
                        <div class="alert alert-info">
                            Paciente: 12345678Z // 1234 <br/>
                            ATS: 23456789D // 1234 <br/>
                            Medico: 34567890V // 1234 <br/>
                            <h:link outcome="regmedico.xhtml">Registrar Medico</h:link>
                        </div>

                        <h:messages style="color: red"/>
                        <!-- /BORRABLE -->

                        <!-- AÑADIR LOGICA -->
                        <h:form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Usuario</label>
                                <h:inputText value="#{login.DNI}" class="form-control" style="border-radius:0px" id="exampleInputEmail1" pt:placeholder="Escriba su usuario"/>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Contraseña <h:link outcome="login.xhtml">(recordar contraseña)</h:link></label>
                                <h:inputSecret value="#{login.contrasenia}" class="form-control" style="border-radius:0px" id="exampleInputPassword1" pt:placeholder="Contraseña"/>
                            </div>
                            <h:commandButton type="submit" action="#{login.autenticar()}" class="btn btn-sm btn-default" value="Aceptar"></h:commandButton>
                        </h:form>
                    </div>
                </div>
            </div>

        </ui:define>

        <ui:define name="menu-up"></ui:define>
        <ui:define name="menu-down"></ui:define>
        <ui:define name="alertas"></ui:define>
        <ui:define name="calendario"></ui:define>
        <ui:define name="mensajes"></ui:define>




    </ui:composition>
</html>

