<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="index.xhtml">
        <ui:define name="content">
            <h:link outcome="#{controlSession.logout()}">
                <h1 style="margin-top: 80px" class="col-md-6 col-md-offset-2">
                    Saliendo del sistema
                </h1>
            </h:link>
        </ui:define>
    </ui:composition>
</html>

