<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="PlantillaPersonal.xhtml">
        <ui:define name="content">
            <h:link outcome="listapacientes.xhtml" >
                <f:param name="usuario" value="#{controlSession.DNI}" />
                <p>Lista de pacientes</p>
            </h:link>
        </ui:define>
    </ui:composition>
</html>
