<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition template="index.xhtml">
        <ui:define name="content">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
                <h2 class="sub-header">Mensajes</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Fecha del mensaje</th>
                                <th>Campo</th>                   
                            </tr>
                        </thead>
                        <tbody>
                            <ui:repeat var="mensajes" value="#{controlMensajes.mensajes}">
                                <tr>
                                    <th><h:outputText value="#{mensajes.fechayhora}"/></th>
                                    <th><h:outputText value="#{mensajes.campo}"/></th>
                                </tr>
                            </ui:repeat>
                        </tbody>
                    </table>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>

