<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <ui:composition template="index.xhtml">
        <ui:define name="content">
            <div class="panel">
                <div class="col-sm-6 col-sm-offset-3">
                <h:form  id="cambioEmail">
                    <hr/>
                    <p class="text-center" style="font-size: 1.5em">Usa el siguiente formulario para modificar tus datos personales.</p>
                    <h:inputText  class="input-lg form-control"   pt:placeholder="antiguomail@gmail.com"></h:inputText><!-- antiguomail debo sustituirlo con bb  por el correcto-->
                    <h:commandButton type="submit"  class="col-xs-12" style="background: #6293BA; color: white" value="Cambiar email"></h:commandButton>
                    <hr/>
                </h:form>    
                <h:form  id="cambioPass">    
                    <h:inputSecret  class="input-lg form-control"  id="password1" pt:placeholder="Nueva contraseña" autocomplete="off"></h:inputSecret>
                    <h:inputSecret  class="input-lg form-control"  id="password2" pt:placeholder="Repita contraseña" autocomplete="off"></h:inputSecret>
                    <h:commandButton type="submit"  class="col-xs-12" style="background: #6293BA; color: white" value="Cambiar password"></h:commandButton>
                </h:form>
                    <hr/>
                <h:form  id="cambioDireccion">    
                    <h:inputText class="input-lg form-control"  id="calle" pt:placeholder="Nueva Ciudad" autocomplete="off"></h:inputText>
                    <h:inputText class="input-lg form-control"  id="ciudad" pt:placeholder="Nueva Calle" autocomplete="off"></h:inputText>
                    <h:commandButton type="submit"  class="col-xs-12" style="background: #6293BA; color: white" value="Cambiar direccion"></h:commandButton>
                </h:form>
                    <hr/>
                <h:form  id="cambioTelefono">    
                    <h:inputText class="input-lg form-control"  id="calle" pt:placeholder="Móvil" autocomplete="off"></h:inputText>
                    <h:inputText class="input-lg form-control"  id="ciudad" pt:placeholder="Teléfono fijo" autocomplete="off"></h:inputText>
                    <h:commandButton type="submit"  class="col-xs-12" style="background: #6293BA; color: white" value="Cambiar telefono"></h:commandButton>
                </h:form>    
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>

<!--Tengo dos form por que pienso que no debes forzar a que cambie todo, si se os ocurre 
algo mejor decidmelo. Debería poner que introduzca el antiguo pass para confirmar?-->