<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="index.xhtml">
        <ui:define name="content">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
                <h2 class="sub-header">Profesionales</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Posicion</th>
                                <th>Ciudad</th>
                                <th>Correo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <c:forEach var="personal" items ="${login.ATS}">
                                <tr>
                                    <td>${personal.nombre}</td>
                                    <td>${personal.apellido1}</td> 
                                    <td>ATS</td>
                                    <td>${personal.ciudad}</td>
                                    <td>${personal.correoE}</td>
                                </tr>
                            </c:forEach>
                            <c:forEach var="medico" items="${login.doctores}">
                                <tr>
                                    <td>${medico.nombre}</td>
                                    <td>${medico.apellido1}</td> 
                                    <td>Medico</td>
                                    <td>${medico.ciudad}</td>
                                    <td>${medico.correoE}</td>
                                </tr>
                            </c:forEach>
                        </tbody>
                    </table>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>

