<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="index.xhtml">
        <ui:define name="content">
            <h:form>
                <p>DNI</p>
                <h:inputText value="#{registroMedico.DNI}"></h:inputText>
                <p>Movil</p>
                <h:inputText value="#{registroMedico.movil}"></h:inputText>
                <p>Telefono</p>
                <h:inputText value="#{registroMedico.telefono}"></h:inputText>
                <p>Nombre</p>
                <h:inputText value="#{registroMedico.nombre}"></h:inputText>
                <p>Apellido 1</p>
                <h:inputText value="#{registroMedico.apellido1}"></h:inputText>
                <p>Apellido 2</p>
                <h:inputText value="#{registroMedico.apellido2}"></h:inputText>
                <p>Contraseña</p>
                <h:inputSecret value="#{registroMedico.contrasenia}"></h:inputSecret>
                <p>Correo</p>
                <h:inputText value="#{registroMedico.correoE}"></h:inputText>
                <p>Direccion</p>
                <h:inputText value="#{registroMedico.direccion}"></h:inputText>
                <p>Ciudad</p>
                <h:inputText value="#{registroMedico.ciudad}"></h:inputText>
                <p>Rango profesional</p>
                <h:inputText value="#{registroMedico.rangoProfesional}"></h:inputText>
                <p>ID TRABAJADOR</p>
                <h:inputText value="#{registroMedico.ID_Trabajador}"></h:inputText>
                <h:commandButton type="submit" action="#{registroMedico.updateMedico()}" class="btn btn-sm btn-default" value="Aceptar"></h:commandButton>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
