<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="index.xhtml">
        <ui:define name="content">
            <h:body>

                <div class="col-md-6 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p><h1 class="panel-title">Quejas y Sugerencias</h1></p>
                        </div>
                        <div class="panel-body">
                            <h:form enctype="text/plain" >
                                <div class="form-group">
                                    <label for="remitente">Correo Electrónico: </label>
                                    <h:inputText value="" id="remitente" class="form-control" style="border-radius:0px" pt:placeholder="Escriba su correo"/>
                                </div>
                                <div class="form-group">
                                    <label for="contenido">Mensaje: </label>
                                    <h:inputTextarea  value="" id="contenido" class="form-control" style="border-radius:0px" pt:placeholder="Escriba sus sugerencias, quejas o reclamaciones..."/>
                                </div>

                                <h:commandButton type="submit" class="btn btn-sm btn-default" value="Aceptar"></h:commandButton>
                                <h:commandButton type="reset" class="btn btn-sm btn-default" value="Cancelar"></h:commandButton>

                            </h:form>
                        </div>
                    </div>
                </div>

            </h:body>
        </ui:define>
    </ui:composition>
</html>